*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fondo{
    width: 100%;
    height: 100vh;
    background-image: url(../images/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1{ /*tusacordes*/
    color: black;
    text-align: center;
    font-size: 500%;
    padding-top: 100px;
    font-family: 'Lugrasimo', cursive; 
}

body p{
    font-family: 'Caprasimo', cursive;
    text-align: center;
    font-size: 200%;
    color: white;
    padding-top: 5%;
}

.generosdiv{/*GENEROSMUSICALES*/
    width: 20%;
    height: 47vh;
    padding: 20px 100px;
    margin-left: 50px;
    margin-bottom: 0px;
    float: left;
    display: inline ;
    background-color: transparent; 
    background-image: url(../images/generos.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.musicales{
    text-decoration: none;
    color:black;
    display: inline;
    padding: 10px 10px;
    font-family: 'Caprasimo', cursive;
    font-size: 13px;
    background-color: rgb(238, 160, 71);
    border: 4px solid black;
}

.top10div{/*top10*/
    width: 20%;
    height: 47%;
    padding: 20px 100px;
    margin-right: 50px;
    float: right;
    display: inline ;
    background-color: transparent; 
    background-image: url(../images/top10.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.botontop10{
    text-decoration: none;
    color:black;
    display: inline;
    padding: 10px 50px;
    font-family: 'Caprasimo', cursive;
    font-size: 15px;
    background-color: rgb(238, 160, 71);
    border: 4px solid black;
}

#CANCIONES{ /*solo en el top10*/
    color: blue;
}


#CONTACTO{ /*va solo siempre a la izquierda*/
    color: black;
    float: left;
    padding: 0px 0px 0px 50px;
    text-decoration: none;
}

.Contactofooter{
    float: left;
}

.pie{
    float: right;
    display: flex;
}


#INICIO{ 
    color: black;
    text-decoration: none;
    margin: 20px;
}
#TOPTEN{
    color: black;
    text-decoration: none;
    margin: 20px;
}

#GENEROS{
    color: black;
    text-decoration: none;
    list-style-type: none;
    margin: 20px;
}

ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

footer{
    width: 100%;
    height: 3vh;
    background-color: rgb(238, 160, 71);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}