* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.fondo {
  width: 100%;
  height: 100vh;
  background-image: url(/images/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

body h1 {
  /*tusacordes*/
  color: #eea047;
  text-align: center;
  font-size: 5rem;
  padding-top: 100px;
  font-family: 'Lugrasimo', cursive; }
body p {
  font-family: 'Caprasimo', cursive;
  text-align: center;
  text-align: center;
  font-size: 200%;
  color: white;
  font-weight: bold;
  padding-top: 5%; }
body .ingresaaqui {
  font-size: 35px;
  color: whitesmoke;
  font-weight: bold; }
body div .generosdiv {
  /*GENEROSMUSICALES*/
  width: 13rem;
  height: 33rem;
  padding: 7rem;
  margin: 0rem 1rem 1rem 10rem;
  float: left;
  display: flex;
  background-color: transparent;
  background-image: url(../images/generos.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; }
  body div .generosdiv .musicales {
    margin-right: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 5px;
    float: left;
    font-family: 'Caprasimo', cursive;
    font-size: 20px;
    background-color: #eea047;
    border: 2px solid black; }
body div .top10div {
  /*top10*/
  width: 13rem;
  height: 17rem;
  padding: -2rem;
  margin: 8rem 10rem 1rem 1rem;
  float: right;
  display: inline;
  background-color: transparent;
  background-image: url(../images/top10.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; }
  body div .top10div .botontop10 {
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: inline;
    padding: 10px;
    font-family: 'Caprasimo', cursive;
    font-size: 20px;
    margin-left: 86px;
    background-color: #eea047;
    border: 2px solid black; }

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh; }

.search-input {
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 16px;
  width: 300px; }
  .search-input:focus {
    outline: none;
    border-color: orange; }

.search-button {
  margin-left: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: orange;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease; }
  .search-button:hover {
    background-color: #cc8400; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

footer {
  width: 100%;
  height: 6rem;
  background-color: #eea047;
  padding: 0px; }
  footer .derechosreservados {
    background-color: #eea047;
    color: black;
    text-align: center;
    padding: 1rem;
    font-size: 1rem; }
    footer .derechosreservados ul .malditofooter {
      width: 100%;
      height: 6rem;
      background-color: #eea047; }
      footer .derechosreservados ul .malditofooter .contactofooter {
        display: flex;
        align-self: left;
        text-decoration: none;
        list-style: none; }
        footer .derechosreservados ul .malditofooter .contactofooter #CONTACTO {
          /*va solo siempre a la izquierda*/
          color: black;
          float: left;
          padding: 1rem;
          text-decoration: none;
          background-color: #eea047;
          font-weight: bold;
          text-decoration: none;
          list-style: none; }
      footer .derechosreservados ul .malditofooter .pie {
        list-style: none;
        margin: 0;
        padding: 1rem; }
        footer .derechosreservados ul .malditofooter .pie #INICIO {
          color: black;
          text-decoration: none;
          margin: 20px;
          display: flex;
          font-weight: bold; }
        footer .derechosreservados ul .malditofooter .pie #TOPTEN {
          color: black;
          text-decoration: none;
          margin: 20px;
          display: flex;
          font-weight: bold; }
        footer .derechosreservados ul .malditofooter .pie #GENEROS {
          color: black;
          text-decoration: none;
          margin: 20px;
          display: flex;
          font-weight: bold; }

/*# sourceMappingURL=style.css.map */
