* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.fondo {
  width: 100%;
  height: 100vh;
  background-image: url(/images/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

body h1 {
  /*tusacordes*/
  color: #eea047;
  text-align: center;
  font-size: 5rem;
  padding-top: 100px;
  font-family: 'Lugrasimo', cursive; }
body p {
  font-family: 'Caprasimo', cursive;
  text-align: center;
  text-align: center;
  font-size: 200%;
  color: white;
  font-weight: bold;
  padding-top: 5%; }
body .ingresaaqui {
  font-size: 35px;
  color: whitesmoke;
  font-weight: bold; }
body div .generosdiv {
  /*GENEROSMUSICALES*/
  width: 13rem;
  height: 33rem;
  padding: 7rem;
  margin: 0rem 1rem 1rem 10rem;
  float: left;
  display: flex;
  background-color: transparent;
  background-image: url(../images/generos.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; }
  body div .generosdiv .musicales {
    margin-right: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 5px;
    float: left;
    font-family: 'Caprasimo', cursive;
    font-size: 20px;
    background-color: #eea047;
    border: 2px solid black;
    border-radius: 6%; }
body div .top10div {
  /*top10*/
  width: 13rem;
  height: 17rem;
  padding: -2rem;
  margin: 8rem 10rem 1rem 1rem;
  float: right;
  display: inline;
  background-color: transparent;
  background-image: url(../images/top10.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; }
  body div .top10div .botontop10 {
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: inline;
    padding: 10px;
    font-family: 'Caprasimo', cursive;
    font-size: 20px;
    margin-left: 86px;
    background-color: #eea047;
    border: 2px solid black;
    border-radius: 6%; }

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh; }

.search-input {
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 16px;
  width: 300px; }
  .search-input:focus {
    outline: none;
    border-color: orange; }

.search-button {
  margin-left: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: orange;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease; }
  .search-button:hover {
    background-color: #cc8400; }

footer {
  background-color: #eea047;
  color: black;
  padding: 0; }
  footer .derechosreservados {
    padding: 0;
    margin-bottom: 2rem; }
  footer .contactofooter {
    color: black;
    align-self: flex-start;
    font-weight: bold; }
    footer .contactofooter #CONTACTO {
      color: black;
      text-decoration: none; }
  footer .pie {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0rem;
    align-items: flex-end;
    text-decoration: none;
    list-style: none;
    font-weight: bold;
    margin-left: 50rem;
    margin-top: -1rem; }
    footer .pie #INICIO {
      color: black;
      text-decoration: none; }
    footer .pie #TOPTEN {
      color: black;
      text-decoration: none; }
    footer .pie #GENEROS {
      color: black;
      text-decoration: none; }

body .linksgeneros {
  width: 100%;
  height: 33rem;
  padding: 5rem;
  float: left;
  display: flexbox;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  text-decoration: none; }
  body .linksgeneros ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0; }
    body .linksgeneros ul li {
      flex: 0 0 calc(50% - 1rem);
      margin: 0.25rem;
      text-decoration: none;
      padding: 0.25rem;
      box-sizing: border-box;
      border: 3px solid black; }
      body .linksgeneros ul li .cumbialink {
        display: block;
        width: 100%;
        height: 100%;
        background-color: #eea047;
        text-align: center;
        line-height: 2rem;
        font-size: 1rem;
        font-weight: bold;
        color: black;
        text-decoration: none;
        /*color: black;
        font-weight: bold;
        width: 100%; 
        height: 2rem;
        line-height: 2rem; 
        background-color: rgb(238, 160, 71);
        font-size: 1rem;
        text-decoration: none;
        display: block; 
        text-align: center;*/ }
      body .linksgeneros ul li .cuartetolink {
        display: block;
        width: 100%;
        height: 100%;
        background-color: #eea047;
        text-align: center;
        line-height: 2rem;
        font-size: 1rem;
        font-weight: bold;
        color: black;
        text-decoration: none; }
      body .linksgeneros ul li .regaetonlink {
        display: block;
        width: 100%;
        height: 100%;
        background-color: #eea047;
        text-align: center;
        line-height: 2rem;
        font-size: 1rem;
        font-weight: bold;
        color: black;
        text-decoration: none; }
      body .linksgeneros ul li .rocklink {
        display: block;
        width: 100%;
        height: 100%;
        background-color: #eea047;
        text-align: center;
        line-height: 2rem;
        font-size: 1rem;
        font-weight: bold;
        color: black;
        text-decoration: none; }
      body .linksgeneros ul li .folklorelink {
        display: block;
        width: 100%;
        height: 100%;
        background-color: #eea047;
        text-align: center;
        line-height: 2rem;
        font-size: 1rem;
        font-weight: bold;
        color: black;
        text-decoration: none; }
      body .linksgeneros ul li .indielink {
        display: block;
        width: 100%;
        height: 100%;
        background-color: #eea047;
        text-align: center;
        line-height: 2rem;
        font-size: 1rem;
        font-weight: bold;
        color: black;
        text-decoration: none; }
      body .linksgeneros ul li .electronicalink {
        display: block;
        width: 100%;
        height: 100%;
        background-color: #eea047;
        text-align: center;
        line-height: 2rem;
        font-size: 1rem;
        font-weight: bold;
        color: black;
        text-decoration: none; }
      body .linksgeneros ul li .jazzlink {
        display: block;
        width: 100%;
        height: 100%;
        background-color: #eea047;
        text-align: center;
        line-height: 2rem;
        font-size: 1rem;
        font-weight: bold;
        color: black;
        text-decoration: none; }
      body .linksgeneros ul li .reggaelink {
        display: block;
        width: 100%;
        height: 100%;
        background-color: #eea047;
        text-align: center;
        line-height: 2rem;
        font-size: 1rem;
        font-weight: bold;
        color: black;
        text-decoration: none; }
      body .linksgeneros ul li .poplink {
        display: block;
        width: 100%;
        height: 100%;
        background-color: #eea047;
        text-align: center;
        line-height: 2rem;
        font-size: 1rem;
        font-weight: bold;
        color: black;
        text-decoration: none; }

body .linksgeneros {
  width: 100%;
  height: 33rem;
  padding: 5rem;
  float: left;
  display: flexbox;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  text-decoration: none; }
  body .linksgeneros ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0; }
    body .linksgeneros ul li {
      flex: 0 0 calc(50% - 1rem);
      margin: 0.25rem;
      text-decoration: none;
      padding: 0.25rem;
      box-sizing: border-box;
      border: 3px solid black; }
      body .linksgeneros ul li .TOP1 {
        display: block;
        width: 100%;
        height: 100%;
        background-color: #eea047;
        text-align: center;
        line-height: 2rem;
        font-size: 1rem;
        font-weight: bold;
        color: black;
        text-decoration: none;
        /*color: black;
        font-weight: bold;
        width: 100%; 
        height: 2rem;
        line-height: 2rem; 
        background-color: rgb(238, 160, 71);
        font-size: 1rem;
        text-decoration: none;
        display: block; 
        text-align: center;*/ }
      body .linksgeneros ul li .TOP2 {
        display: block;
        width: 100%;
        height: 100%;
        background-color: #eea047;
        text-align: center;
        line-height: 2rem;
        font-size: 1rem;
        font-weight: bold;
        color: black;
        text-decoration: none; }
      body .linksgeneros ul li .TOP3 {
        display: block;
        width: 100%;
        height: 100%;
        background-color: #eea047;
        text-align: center;
        line-height: 2rem;
        font-size: 1rem;
        font-weight: bold;
        color: black;
        text-decoration: none; }
      body .linksgeneros ul li .TOP4 {
        display: block;
        width: 100%;
        height: 100%;
        background-color: #eea047;
        text-align: center;
        line-height: 2rem;
        font-size: 1rem;
        font-weight: bold;
        color: black;
        text-decoration: none; }
      body .linksgeneros ul li .TOP5 {
        display: block;
        width: 100%;
        height: 100%;
        background-color: #eea047;
        text-align: center;
        line-height: 2rem;
        font-size: 1rem;
        font-weight: bold;
        color: black;
        text-decoration: none; }
      body .linksgeneros ul li .TOP6 {
        display: block;
        width: 100%;
        height: 100%;
        background-color: #eea047;
        text-align: center;
        line-height: 2rem;
        font-size: 1rem;
        font-weight: bold;
        color: black;
        text-decoration: none; }
      body .linksgeneros ul li .TOP7 {
        display: block;
        width: 100%;
        height: 100%;
        background-color: #eea047;
        text-align: center;
        line-height: 2rem;
        font-size: 1rem;
        font-weight: bold;
        color: black;
        text-decoration: none; }
      body .linksgeneros ul li .TOP8 {
        display: block;
        width: 100%;
        height: 100%;
        background-color: #eea047;
        text-align: center;
        line-height: 2rem;
        font-size: 1rem;
        font-weight: bold;
        color: black;
        text-decoration: none; }
      body .linksgeneros ul li .TOP9 {
        display: block;
        width: 100%;
        height: 100%;
        background-color: #eea047;
        text-align: center;
        line-height: 2rem;
        font-size: 1rem;
        font-weight: bold;
        color: black;
        text-decoration: none; }
      body .linksgeneros ul li .TOP10 {
        display: block;
        width: 100%;
        height: 100%;
        background-color: #eea047;
        text-align: center;
        line-height: 2rem;
        font-size: 1rem;
        font-weight: bold;
        color: black;
        text-decoration: none; }

/*# sourceMappingURL=style.css.map */
