//base
@import "./base/reset";

//body
@import "./layout/body.scss";

//buscador
@import "./layout/buscador";

//footer
@import "./layout/footer";

//generos
@import "./layout/generos";

//top10
@import "./layout/top10";

//contacto
@import "./layout/contacto";