body{
    h1{ /*tusacordes*/
        color: rgb(238, 160, 71);
        text-align: center;
        font-size: 5rem;
        padding-top: 100px;
        font-family: 'Lugrasimo', cursive;
        animation: swing 4s infinite;
        font-size: 116px;
        color: rgb(238, 160, 71); 
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; 
        
        @keyframes swing {
            0%, 100% {
                transform: rotate(0deg);
            }
            25% {
                transform: rotate(10deg);
            }
            75% {
                transform: rotate(-10deg);
            }
        }
    }

    p{
        font-family: 'Caprasimo', cursive;
        text-align: center;
        text-align: center;
        font-size: 200%;
        color: white;
        font-weight: bold;
        padding-top: 5%;
    }

    .ingresaaqui{
        font-size: 35px;
        color: whitesmoke;
        font-weight: bold;
    }

    div{
        .generosdiv{/*GENEROSMUSICALES*/
            width: 13rem;
            height:33rem;
            padding: 7rem;
            margin: 0rem 1rem 1rem 10rem;
            float: left;
            display: flex;
            background-color: transparent; 
            background-image: url(../images/generos.jpeg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            .musicales{
                margin-right: 20px;
                text-decoration: none;
                color:black;
                font-weight: bold;
                padding: 5px;
                float: left;
                font-family: 'Caprasimo', cursive;
                font-size: 20px;
                background-color: rgb(238, 160, 71);
                border: 2px solid black;
                border-radius: 6%;
            }
        }
        .top10div{/*top10*/
            width: 13rem;
            height: 17rem;
            padding: -2rem;
            margin: 8rem 10rem 1rem 1rem;
            float: right;
            display: inline ;
            background-color: transparent; 
            background-image: url(../images/top10.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            .botontop10{
                text-decoration: none;
                color:black;
                font-weight: bold;
                display: inline;
                padding: 10px;
                font-family: 'Caprasimo', cursive;
                font-size: 20px;
                margin-left: 86px;
                background-color: rgb(238, 160, 71);
                border: 2px solid black;
                border-radius: 6%;
            }
        }
    }
}