
footer {
    background-color: rgb(238, 160, 71);
    color: black;
    padding: 0;
    .derechosreservados{
        padding: 0;
        margin-bottom: 2rem;
    }

    .contactofooter {
        color: black;
        align-self: flex-start;
        font-weight: bold;
        #CONTACTO{
            color: black;
            text-decoration: none;
        }
    }

    .pie {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 0rem;
        align-items: flex-end;
        text-decoration: none;
        list-style: none;
        font-weight: bold;
        margin-left: 50rem;
        margin-top: -1rem;
    
        #INICIO{
            color: black;
            text-decoration: none;
        }
        #TOPTEN{
            color: black;
            text-decoration: none;
        }
        #GENEROS{
            color: black;
            text-decoration: none;
        }
    }
   
    
}




    