*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    width: 100%;
    height: 6rem;
    background-color: rgb(238, 160, 71);
    padding: 0px;
    .derechosreservados{
        //border: 2px solid black;
        background-color: rgb(238, 160, 71);
        color: black;
        text-align: center;
        padding: 1rem;
        font-size: 1rem;
        ul{
            .malditofooter{
                width: 100%;
                height: 6rem;
                background-color: rgb(238, 160, 71);
                .contactofooter{
                    display: flex;
                    align-self: left;
                    text-decoration: none;
                    list-style: none;
            
                    #CONTACTO{ /*va solo siempre a la izquierda*/
                        color: black;
                        float: left;
                        padding: 1rem;
                        text-decoration: none;
                        background-color: rgb(238, 160, 71);
                        font-weight: bold;
                        text-decoration: none;
                        list-style: none;
                    }
                }
                    
                .pie {
                    list-style: none;
                    margin: 0;
                    padding: 1rem;
                    #INICIO{ 
                        color: black;
                        text-decoration: none;
                        margin: 20px;
                        display: flex;
                        font-weight: bold;
                    }
                    #TOPTEN{
                        color: black;
                        text-decoration: none;
                        margin: 20px;
                        display: flex;
                        font-weight: bold;
                    }
                    #GENEROS{
                        color: black;
                        text-decoration: none;
                        margin: 20px;
                        display: flex;
                        font-weight: bold;
                    }
                }  
            }
        }
    }
}   