body{
    .linksgeneros{
        width: 100%;
        height:33rem;
        padding: 5rem;
        //margin: 0rem 1rem 1rem 1rem;
        float: left;
        display: flexbox;
        background-color: transparent; 
        background-repeat: no-repeat;
        background-size: contain;
        text-decoration: none;
        
        ul{
            display: flex;
            flex-wrap: wrap;
            justify-content: center; 
            list-style: none;
            padding: 0;
            
            li{
                flex: 0 0 calc(50% - 1rem);
                margin: 0.25rem; 
                text-decoration: none;
                padding: 0.25rem;
                box-sizing: border-box;
                border: 3px solid black;

                .TOP1{
                    display: block;
                    width: 100%;
                    height: 100%;
                    background-color: rgb(238, 160, 71);
                    text-align: center;
                    line-height: 2rem;
                    font-size: 1rem;
                    font-weight: bold;
                    color: black;
                    text-decoration: none;                  
                    
                    /*color: black;
                    font-weight: bold;
                    width: 100%; 
                    height: 2rem;
                    line-height: 2rem; 
                    background-color: rgb(238, 160, 71);
                    font-size: 1rem;
                    text-decoration: none;
                    display: block; 
                    text-align: center;*/
                }
                .TOP2{
                    display: block;
                    width: 100%;
                    height: 100%;
                    background-color: rgb(238, 160, 71);
                    text-align: center;
                    line-height: 2rem;
                    font-size: 1rem;
                    font-weight: bold;
                    color: black;
                    text-decoration: none;  
                }
                .TOP3{
                    display: block;
                    width: 100%;
                    height: 100%;
                    background-color: rgb(238, 160, 71);
                    text-align: center;
                    line-height: 2rem;
                    font-size: 1rem;
                    font-weight: bold;
                    color: black;
                    text-decoration: none;  
                }
                .TOP4{
                    display: block;
                    width: 100%;
                    height: 100%;
                    background-color: rgb(238, 160, 71);
                    text-align: center;
                    line-height: 2rem;
                    font-size: 1rem;
                    font-weight: bold;
                    color: black;
                    text-decoration: none;  
                }
                .TOP5{
                    display: block;
                    width: 100%;
                    height: 100%;
                    background-color: rgb(238, 160, 71);
                    text-align: center;
                    line-height: 2rem;
                    font-size: 1rem;
                    font-weight: bold;
                    color: black;
                    text-decoration: none;  
                }
                .TOP6{
                    display: block;
                    width: 100%;
                    height: 100%;
                    background-color: rgb(238, 160, 71);
                    text-align: center;
                    line-height: 2rem;
                    font-size: 1rem;
                    font-weight: bold;
                    color: black;
                    text-decoration: none;  
                }
                .TOP7{
                    display: block;
                    width: 100%;
                    height: 100%;
                    background-color: rgb(238, 160, 71);
                    text-align: center;
                    line-height: 2rem;
                    font-size: 1rem;
                    font-weight: bold;
                    color: black;
                    text-decoration: none;  
                }
                .TOP8{
                    display: block;
                    width: 100%;
                    height: 100%;
                    background-color: rgb(238, 160, 71);
                    text-align: center;
                    line-height: 2rem;
                    font-size: 1rem;
                    font-weight: bold;
                    color: black;
                    text-decoration: none;  
                }
                .TOP9{
                    display: block;
                    width: 100%;
                    height: 100%;
                    background-color: rgb(238, 160, 71);
                    text-align: center;
                    line-height: 2rem;
                    font-size: 1rem;
                    font-weight: bold;
                    color: black;
                    text-decoration: none;  
                }
                .TOP10{
                    display: block;
                    width: 100%;
                    height: 100%;
                    background-color: rgb(238, 160, 71);
                    text-align: center;
                    line-height: 2rem;
                    font-size: 1rem;
                    font-weight: bold;
                    color: black;
                    text-decoration: none;  
                }
            }  
        }   
    }  
}
    