footer{
    .derechosreservados{
        //border: 2px solid black;
        background-color: rgb(238, 160, 71);
        color: black;
        text-align: center;
        padding: 0.1rem;
        font-size: 1rem;
    }
    /*.contactofooter{ //div
        width: 100%;
        height: 0px;
        padding: 0px 1px 1px 1px;
        background-color: rgb(238, 160, 71);
        float: left;
        text-decoration: none;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left;*/
        
    .CONTACTO{ /*va solo siempre a la izquierda*/
        width: 100%;
        height: 0px;
        color: black;
        float: left;
        padding: 1rem;
        text-decoration: none;
        background-color: rgb(238, 160, 71);
        font-weight: bold;
        text-decoration: none;
        list-style: none;
    }  
    
    nav{     
        .pie{
            width: 50%;
            height: 10%;
            padding: 10px;
            float: right;
            display: flex;
            background-color: rgb(238, 160, 71);
            text-decoration: none;
            
            #INICIO{ 
                color: black;
                text-decoration: none;
                margin: 20px;
                display: flex;
                font-weight: bold;
            }
            #TOPTEN{
                color: black;
                text-decoration: none;
                margin: 20px;
                display: flex;
                font-weight: bold;
            }
            #GENEROS{
                color: black;
                text-decoration: none;
                margin: 20px;
                display: flex;
                font-weight: bold;
            }
        }
    }
}
