*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fondo{
    width: 100%;
    height: 100vh;
    background-image: url(/images/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}